<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>tiendainformatica</display-name>
	<servlet>
		<description>
		</description>
		<display-name>LoginServlet</display-name>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>es.iespuertodelacruz.ahmrlh.tiendainformatica.servlets.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>RegistrarServlet</display-name>
		<servlet-name>RegistrarServlet</servlet-name>
		<servlet-class>es.iespuertodelacruz.ahmrlh.tiendainformatica.servlets.RegistrarServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ClienteServletPrincipal</display-name>
		<servlet-name>ClienteServletPrincipal</servlet-name>
		<servlet-class>es.iespuertodelacruz.ahmrlh.tiendainformatica.servlets.ClienteServletPrincipal</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AdminServletPrincipal</display-name>
		<servlet-name>AdminServletPrincipal</servlet-name>
		<servlet-class>es.iespuertodelacruz.ahmrlh.tiendainformatica.servlets.AdminServletPrincipal</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CarritoServlet</display-name>
		<servlet-name>CarritoServlet</servlet-name>
		<servlet-class>es.iespuertodelacruz.ahmrlh.tiendainformatica.servlets.CarritoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/loginservlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RegistrarServlet</servlet-name>
		<url-pattern>/RegistrarServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RegistrarServlet</servlet-name>
		<url-pattern>/registrarservlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ClienteServletPrincipal</servlet-name>
		<url-pattern>/ClienteServletPrincipal</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ClienteServletPrincipal</servlet-name>
		<url-pattern>/clienteservletprincipal</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminServletPrincipal</servlet-name>
		<url-pattern>/AdminServletPrincipal</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminServletPrincipal</servlet-name>
		<url-pattern>/adminservletprincipal</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CarritoServlet</servlet-name>
		<url-pattern>/CarritoServlet</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>default.htm</welcome-file>
	</welcome-file-list>
</web-app>